$white: #ffffff;
$shadywhite: #F8F8F8;
$text: #1B1C21;
$graytext: #7E7E82;
$navBefore: #EAEAEA;
$pinkButton: #FF3E79;
$radioBorder:#B8FFEC;
$block1-5main: #F2F2F2;
$paginationBg: #DDDDDD;
$paginationActive: #B5B6BC;
$interSectionBorder: #D9FFF5;
$beforeText: #41F6D7